
.movie-card {
  .movie-info {
    .img-holder {
      border-bottom: 1px solid #000;
      height: 40.1vh;
      display: flex;

      h3 {
        color: $dark-blue;
        justify-self: center;
        align-self: center;
        text-transform: uppercase;
        font-size: 25px;
        transform: rotate(-55deg);
      }

      img {
        width: 100%;
      }
    }
  }

  .movie-control {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
}
