@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// colors
$dark-blue:  #171c31;
$medium-blue:  #027bff;
$purple:  #6e33f4;
$grayed-color:  #636164;
$white: #fff;
$yellow-hover: hsl(60, 100%, 50%);

// button padding & height

$padding-vertical: 12px;
$padding-horizontal: 63px;
$button-height: 40px;
